body {
    margin: 0;
    padding: 0;
    background-image: url(../pics/strangers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: aqua;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 102, 101, 0.744);
    z-index: -1;
}

.container-for-choise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    column-gap: 10px;
    row-gap: 10px;
}



.go-to-bar {
    height: 200px;
    width: 100%;
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: inset 1px 1px 6px 5px lightgray;
    cursor: pointer;
}

.go-to-bar:hover {
    opacity: 0.4;
    box-shadow: 1px 1px 4px 4px rgba(211, 211, 211, 0.685);
}

.go-to-magic {
    border: 1px solid black;
    box-shadow: inset 1px 1px 6px 5px lightgray;
    border-radius: 10%;
    cursor: pointer;
}

.go-to-magic:hover {
    opacity: 0.4;
    box-shadow: 1px 1px 4px 4px rgba(211, 211, 211, 0.685);
}


.go-to-rotativ {
    border: 1px solid black;
    box-shadow: inset 1px 1px 6px 5px lightgray;
    height: 200px;
    border-radius: 10%;
    cursor: pointer;
}

.go-to-rotativ:hover {
    opacity: 0.4;
    box-shadow: 1px 1px 4px 4px rgba(211, 211, 211, 0.685);
}

.go-to-cheet {
    border: 1px solid black;
    box-shadow: inset 1px 1px 6px 5px lightgray;
    border-radius: 10%;
    cursor: pointer;
}

.go-to-cheet:hover {
    opacity: 0.4;
    box-shadow: 1px 1px 4px 4px rgba(211, 211, 211, 0.685);
}

@media screen and (max-width: 600px) {

    .container {
        display: grid;
        grid-template-columns: 60%;
        width: 80%;
        align-items: center;
        justify-content: center;

    }

    .go-to-cheet,
    .go-to-rotativ,
    .go-to-magic,
    .go-to-bar {
        border: 1px solid black;
        box-shadow: inset 1px 1px 6px 1px lightgray;
        border-radius: 10%;
        height: 100px;
    }

    h1 {
        text-align: center;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        color: azure;

    }

    .button-game {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        justify-content: center;
    }



}

.go-back-button {
    background-color: rgba(113, 167, 167, 0.596);
    cursor: pointer;
    font-size: large;
    margin-top: 2px;
    margin-left: 2px;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.curent-time {
    color: beige;
    text-align: center;
}

.shown-gold,
.shown-live {
    margin-left: 3%;
    font-size: large;
    font-style: italic;
    color: rgb(186, 249, 149);

}

.card-container {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

.karti1,
.karti2,
.karti3,
.karti4,
.chery-pic1,
.chery-pic2,
.chery-pic3,
.chery-pic4,
.praskova-pic1,
.praskova-pic2,
.praskova-pic3,
.praskova-pic4,
.qgoda-pic1,
.qgoda-pic2,
.qgoda-pic3,
.qgoda-pic4,
.banana-pic1,
.banana-pic2,
.banana-pic3,
.banana-pic4 {
    display: none;
    border-radius: 15%;
    opacity: 70%;

}

.first,
.second,
.third,
.forth {
    width: 10%;
    height: 10%;
}

#spin-button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 35%;
    width: 10%;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-style: italic;
    background-color: rgba(165, 42, 42, 0.74);
    color: blanchedalmond;
}


.izbor-zalog {
    margin-left: 20%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

.zalog {
    margin-top: 1%;
    background-color: transparent;
    color: aqua;
    width: 13%;
    text-align: center;

}

.confirm-button {

    background-color: rgba(23, 23, 13, 0.699);
    color: rgb(197, 209, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2px;
    padding-bottom: 2px;

}

.container-for-game {
    display: none;
}

.get-up-button {
    background-color: rgba(0, 128, 0, 0.651);
    color: antiquewhite;
    margin-left: 10%;
    width: 6%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .get-up-button {
        display: block;
        width: auto;
        margin-left: 40%;
        margin-top: 20px;
    }

    #spin-button {
        display: block;
        width: 30%;
        margin-top: 10px;
    }

    .confirm-button {

        background-color: rgba(0, 60, 255, 0.68);
        margin-left: 35%;

    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        margin-top: 1%;

    }

    .karti1,
    .karti2,
    .karti3,
    .karti4,
    .chery-pic1,
    .chery-pic2,
    .chery-pic3,
    .chery-pic4,
    .praskova-pic1,
    .praskova-pic2,
    .praskova-pic3,
    .praskova-pic4,
    .qgoda-pic1,
    .qgoda-pic2,
    .qgoda-pic3,
    .qgoda-pic4,
    .banana-pic1,
    .banana-pic2,
    .banana-pic3,
    .banana-pic4 {
        width: 600%;
        margin-bottom: 10%;
    }

    .izbor-zalog {
        margin-top: 10%;
    }
}

.dropbtn {
    margin-left: 40px;
    background-color: #04AA6D;
    color: white;
    padding: 7%;
    border-radius: 9%;
    border: none;
    font-size:16px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10%;
    display: none;
    position: absolute;
    background-color: #d7f2cc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    font-style: italic;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: #5b6979;
    cursor: pointer;
    color: aliceblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {

    .dropbtn {
        border-radius: 40%;
        padding: 3px;
        margin-top: 3px;

    }

    .dropdown {
        display: block;
    }
}